<div style="text-align:center">
<h1> welcome to {{title}}!</h1>
<input type="text"[(ngModel)]="name" placeholder="enter your name">
<p><i>Hai {{name}} !</i></p>

<hr>

<h4>LIST OF AUTHORS</h4>

<li *ngFor="let student of students">
    
<h2>{{student.name}} details!</h2>
<div><label>Author Name: </label> {{student.name}}</div>
<div><label>Id: </label> {{student.id}}</div>

<div><label>Email Id: </label> {{student.emailid}}</div>

</li>                                                                                                                                  